body {background: lavenderblush; color: darkslategray}

h1{background: lightcoral; font-size: 16pt; font-family: 'Cedarville Cursive', cursive;}
}
h2{background: lightcoral; font-size: 16pt; font-family: 'Cedarville Cursive', cursive;}
}